*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url("./cody-scott-milewski-aCnkRlBD0i4-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#container
{
    width:700px;
    border-radius: 10%;
    height: 400px;
    margin-top: 10%;
    margin-left: 25%;
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 20px 2px rgb(228, 228, 211);
}
h1{
    color: rgb(0, 0, 0);
    padding-left: 250px;
    padding-top: 50px;
    font-size: 55px;
}
#counterScreen{
    font-size: 55px;
    padding-left: 320px;
    padding-top: 30px;
}
button{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: black;
    color: white;
    margin-left: 10px;
    margin-top: 50px;
}
#decrease{
    margin-left: 220px;
}